PORT=3000
SUPABASE_URL=https://xzsnhghlivkvwgowhmpf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6c25oZ2hsaXZrdndnb3dobXBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3NzQ1MTcsImV4cCI6MjA4MzM1MDUxN30.kSyJoOMs5b3h03OMJqrv-ii_QJ60nvhyAcerl5Ozp-Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6c25oZ2hsaXZrdndnb3dobXBmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzc3NDUxNywiZXhwIjoyMDgzMzUwNTE3fQ.wkqXh-J0DlfOp1WDMlC5i2OlA0Ospy5pFLqJ5budP6c
CORS_ORIGIN=http://localhost:4200
